[submodule "git-imerge"]
	path = submodules/git-imerge
	url = https://github.com/mhagger/git-imerge.git
[submodule "submodules/ministat"]
	path = submodules/ministat
	url = https://github.com/codahale/ministat.git
[submodule "submodules/arcanist"]
	path = submodules/arcanist
	url = https://github.com/phacility/arcanist.git
[submodule "submodules/libphutil"]
	path = submodules/libphutil
	url = https://github.com/phacility/libphutil.git
[submodule "submodules/check-soa"]
	path = submodules/check-soa
	url = https://github.com/bortzmeyer/check-soa.git
	ignore = dirty
[submodule "submodules/ssllabs-scan"]
	path = submodules/ssllabs-scan
	url = git@github.com:ssllabs/ssllabs-scan.git
[submodule "submodules/vim-plugins-profile"]
	path = submodules/vim-plugins-profile
	url = git@github.com:hyiltiz/vim-plugins-profile.git
[submodule "submodules/dnscaa"]
	path = submodules/dnscaa
	url = git@github.com:weppos/dnscaa.git
[submodule "submodules/mimic"]
	path = submodules/mimic
	url = https://github.com/reinderien/mimic.git
